<div class="login_container">
  <div class="login_img">
    <%= image_tag("lg5", {:class => "login_im"}) %>
  </div>
  <div class="signin_div">
    <%=form_for(:session, :html=> {:class=> "signup_form"}) do |f|%>
      <h2 class="form_heading">Sign In</h2>
      <div>
        <%=f.label :email%>
        <%=f.email_field :email, class: "signup_input"%>
      </div>
      <div>
        <%=f.label :password%>
        <%=f.password_field :password, class: "signup_input"%>
      </div>
      <div>
        <%=f.submit "Sign In", class:"signup_btn"%>
      </div>
    <%end%>
  </div>
</div>
