
<div class="form_container">
    <h2 class="">Add Product</h2>
    <%=form_for(@inventory, :html=> {:class=> "add_prod_form"}) do |f|%>
            <div>
                <%=f.label :name, class: "prod_label"%>
                <%=f.text_field :name, class:"prod_input"%>
            </div>
            <div>
                <%=f.label "Units", class: "prod_label"%>
                <%= f.select :selling_units, ['KGS', 'BOX', 'PKT', 'NOS', 'BOT'],{ include_blank: false }, { :class => 'purchase_input purchase_select select_purchase_unit' }%>
                <%#=f.text_field :selling_units, class:"prod_input"%>
            </div>
    
            <div class="fields">
                <%= f.label :Select_Raw_Materials, class: "prod_label" %>
                <%= f.fields_for :items do |builder|%>
                    <%= render 'item', b: builder, itm_q: 0%>
                <% end %>
            </div>
            
            <div class="prod_btn_div">
                <%= submit_tag "Create", class:"prod_save" %>
                <%= link_to_add_row('Add Item', f, :items, class: 'add_raw ') %>
            </div>

            <!-- <div>
                <%#=f.label :Raw_material, class: "prod_label"%>
                <%#= collection_select(:item, :item_ids, Item.all, :id, :title, {}, { :multiple => true, class: "prod_input prod_select"} )%>
            </div> -->
    <%end%>
</div>




 