<div class="signup_container">
  <div class="illustration_login">
    <%= image_tag("login.svg", {:class => "login_image"}) %>
  </div>
  <div class="signup_div">
    <%=form_for(@user, :html=> {:class=> "signup_form"}) do |f|%>
      <h2 class="form_heading">Add User</h2>
      <div>
        <%=f.label :first_name%>
        <%=f.text_field :fname, class: "signup_input"%>
      </div>
      <div>
        <%=f.label :last_name%>
        <%=f.text_field :lname, class: "signup_input"%>
      </div>
      <div>
        <%=f.label :email%>
        <%=f.email_field :email, class: "signup_input"%>
      </div>
      <div>
        <%=f.label :password%>
        <%=f.password_field :password, class: "signup_input"%>
      </div>
      <div>
        <%=f.submit "Sign Up", class:"signup_btn"%>
      </div>
    <%end%>
  </div>
</div>
