<div class="items_container">
  <div class="item_cards">
    <% @items.each do |item|%>
      <%= render 'card', item: item%>
    <% end%>
  </div>
  <!-- Add Modal -->
  <div class="item_popup" id="itm_btn">
    <i class="fas fa-plus"></i>
    <div class="itm_pop itm_pop_raw">
      <ul>
        <li class="add_item_click">Add Raw Material</li>
        <li><%=link_to "Conversions", conversions_path, class: "items_path"%></li>
        <ul>
        </div>
      </div>
      <div class="add_modal" id="add_item">
        <div class="modal_item">
          <%=form_for(@item, :html=> {:class=> "form_item "}) do |f|%>
            <h2 class="modal_heading">Add Raw Material</h2>
            <%=f.label :title, class: "modal_label "%>
            <%=f.text_field :title, class:"modal_input "%>
            <%=f.label :purchase_units, class: "modal_label "%>
            <%#=f.text_field :purchase_units, class: "modal_input "%>
            <%= f.select :purchase_units, ['KGS', 'BOX', 'PKT', 'NOS', 'BOT'],{ include_blank: false }, { :class => 'modal_select_unit' }%>
            <%=f.label :Cost, class: "modal_label "%>
            <%=f.text_field :cost, class: "modal_input "%>
            <%= submit_tag "Create", class:"item_save" %>
            <div class="modal_cancel">
              <span>
                <i class="fas fa-times"></i>
              </span>
            </div>
          <%end%>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag 'items2' %>
    <%= javascript_pack_tag 'items' %>
